@primary-color:   #2740C1;
@secondary-color:   #AFB7DE;
@detail-color: #2C2FB2;
@dark-color:   #121213;
@light-color:   #fff;
@gray-color:   #7e7c7c;

/**RESET**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: @dark-color;
}

a {
  text-decoration: none;
  color:inherit;
}

ul li {
  list-style: none;
}

button {
  text-transform: uppercase;
}

.titulo {
 
  display: inline-block;
  position: relative;
  left: 50%; 
  transform: translateX(-50%);

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;

  }

  span {
    color: @detail-color;
  }

  .sublinhado {
    position: relative;
    display: block;
    content:"";
    height: 4px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: @detail-color;

    &::after, &::before {
      content: "";
      display: inline-block;
      background-color: @detail-color;
      width: 18px;
      height: 18px;
      position: absolute;
      border-radius: 50%;
      z-index: 2;
      vertical-align: middle;
      transform: translateY(-50%);
  
    }

    &::after {
      top: 2px;
      left:0;
    }

    &::before {
      top: 2px;
      right:0;
    }
  }
 
}

/**HEADER**/
.header {
  background-color: @primary-color;
  color: @light-color;
  padding: 6px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-style: italic;
      font-size: 1.3rem;
      font-weight: 600;
    }

    .header-menu__mobile {
      display: none;
      gap: 20px;
      font-size: .75rem;
    }

    .icon-mobile {
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width:768px){ 
  .header {
    padding: 6px 30px;

    nav {
      ul.header-menu__mobile {
        display: flex;
      }

      .icon-mobile {
        display: none;
      }
    }
  }
}

@media screen and (max-width:768px){ 
  .header {
   
    .header-menu__mobile.header-menu__mobile--active {
      position: absolute;
      right: 0px;
      top: 43px;
      width: 180px;
      background-color: @primary-color;
      padding: 8px 16px;
      transition: all .3s ease-in;
      border-top: 1px solid @secondary-color;
      li + li {
        border-top: 1px solid @secondary-color;
      }

      li {
        padding: 5px;
      }
     
    }
    
   
  }
}

/**INTRODUÇÃO**/

.introduction{
  padding: 6px 15px;
  color: @dark-color;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
  padding-top: 16px;

  .introduction-hello {
    color: @gray-color;
    padding-bottom: 4px;
  }

  h2 {
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
    &::after {
      display: block;
      background-color: @secondary-color;
      height: 4px;
      content:"";
      width:100%;
      position: absolute;
      bottom: 20%;
      z-index: -1;
      white-space: nowrap;
      padding-bottom: 4px;
    }
  }

  .introduction-job {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  button {
    background-color: @primary-color;
    color: @light-color;
    border: none;
    width: 100%;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 1.1rem;
    }
  }
  .introduction-img img {
    width: 100%;
    display: none;
  }
}

@media screen and (min-width:768px){ 
  .introduction {
    grid-template-columns: 1fr 1fr;
    padding: 6px 30px;
    .introduction-img img {
      display: block;
    }

    button { 
      max-width: 260px;
    }
  }
}

/**TECNOLOGIAS**/
.tech {
  padding: 6px 15px;
  .tech-used {
    display:grid;
    justify-content: center;
    margin-top: 24px;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    gap:20px;
    .tech-item {
      background-color: @dark-color;
      color: @light-color;
      font-family: 'Roboto Slab', serif;
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;
      padding: 10px 12px;
      gap: 20px;
      position: relative;

      &::before {
        display: inline-block;
        content: "";
        width: 2px;
        height: 100%;
        background-color: @light-color;
        position: absolute;
        top:0;
        left: 35%;
      }

      i {
        font-size: 2.5rem;
        justify-content: center;
      }

      i, p {
        display: flex;
        align-items: center;
      }

      p {
        font-weight: 500;
        padding-left: 12px;
      }
      
    }
  }
}